
@{
    ViewBag.Title = "Landing Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<li>@Html.ActionLink("Login", "Login", "Accounts", new { area = "" }, new { @class = "nav-link" })</li>
<li>@Html.ActionLink("Signup", "Signup", "Accounts", new { area = "" }, new { @class = "nav-link" })</li>

